# Python Virtual Environment & Caches
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class

# Environment Variables & Keys
.env
data/*.db
data/*.db-shm
data/*.db-wal

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
